[all]
%{ for group, ips in inventory ~}
%{ for ip in ips ~}
${split("/", ip)[0]}
%{ endfor ~}
%{ endfor ~}

%{ for group, ips in inventory ~}
%{ if length(ips) > 0 ~}
[${group}]
%{ endif ~}
%{ for ip in ips ~}
${split("/", ip)[0]}
%{ endfor ~}
%{ endfor ~}